.page-content {
    width: 100vw;
    height: 100vh;

    .homescreen {
        display: flex;
        flex-wrap: wrap;
        max-width: calc(4 * 250px);
        margin: 0 auto;

        .application {
            display: block;
            word-break: break-all;
            width: 25%;
            font-size: .6rem;
            text-align: center;
            color: black;

            img {
                display: block;
                margin: 0 auto;
                height: 80px;
                width: 80px;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        @media screen and (max-width: 1000px) {
            .application {
                img {
                    height: 60px;
                    width: 60px;
                }
            }
        }
    }
}