
// Overrides
$grid-gutter-width: 40px !default;
$border-radius-base:  4px !default;
$padding-base-vertical: 14px !default;

// $brand-primary: #52d3aa !default;
// $brand-secondary: #3f95ea !default;

$brand-primary: rgb(215, 143, 164) !default;
$brand-secondary: 		#41454f !default;
$brand-success:         #58ca7e !default;
$brand-info:            #1784fb !default;
$brand-warning:         #fed330 !default;
$brand-danger:          #fb4f59 !default;

$brand-white: #fff !default;
$brand-black: #000 !default;


$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

$font-primary: 'Playfair Display', times, serif;
$font-secondary: 'Roboto', arial, sans-serif;;

@import "bootstrap/variables";